.displayFlex{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin: 10px;
    /* background-color: teal; */
}

.background{
    width: 80vw;
    max-height: 65vh;
    border-radius: 20px;
}

#theImage{
    /* width:100px; */
    max-height: 65vh;
    border-radius: 25px;
}