.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 1.5rem;
}

.noMarginPadding {
    margin: 0;
    padding: 0;
}

.button {
    border-radius: 40px;
    color: white;
    background-color: #0094B6;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
}

@media only screen and (max-width: 500px) {
  .wrapper {
      width: 80%;
  }
}

