.container {
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    padding-top: 4rem;
}

.linkscontainer {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.rights {
    width: 100%;
    border-top: #2D2D2D solid 1px;
}