.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 28rem;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}