.rightContainer {
  display: inherit;
}

.profilePicture {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  object-fit: cover;
}

.secondaryButton {
  background-color: #ce3dd1;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 50px;
}

.secondaryButton:hover {
  background-color: #c910cc;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  transition: ease-in;
}

@media only screen and (max-width: 500px) {
  .rightContainer {
    display: flex;
    flex-direction: column;
  }

  .profilePicture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .secondaryButton {
    background-color: #ce3dd1;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
  }
}
