.tixcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  border-radius: 20px;
  width: 40vw;
}

.cardimg {
  border-radius: 20px 20px 0px 0px;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
