.avatar {
    border-radius: 50%;
    border: 3px white solid;
    margin: 3rem;
    width: 15rem;
}

.noMarginPadding {
    margin-left: 3rem;
    padding: 0;
}

.wrapper {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {

    .noMarginPadding {
        padding: 0;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

}